.generos{
    margin: 0 10%;
}

.generos .card,
.generos .table-responsive{
    box-shadow: 0px 0px 10px 0px black;
    width: 100%;
    justify-self: center;
}

.generos .input-filtro{
    width: 40%;
    margin-bottom: 1rem;
    margin-left: 1%;
}

.generos .table-responsive tr th:last-child {
    width: 135px;
}

.genero-alert{
    width: 30%;
    margin-left: auto;
    margin-right: 30px;
    margin-top: -100px;
}