.FormLivros{    
    
    width: 900px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
    padding: 20px;   
    height: 750px;
    margin-left: 400px;
  
   
   
}
.lista{
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;  
    box-shadow: 0px 0px 10px 0px black;

 

}