.FormLivros{
    margin: 0 10%;
}

.FormLivros .card,
.FormLivros .table-responsive{
    box-shadow: 0px 0px 10px 0px black;
    width: 100%;
    justify-self: center;
}

.FormLivros .input-filtro{
    width: 30%;
    margin-left: 1%;
}

