.header{
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 1px 1px 3px black;
    margin: 0px;
    text-decoration:underline;
    font-family: 'Times New Roman', Times, serif;

}